* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #ffffff;

    color: #000000;

    font-family: "Lucida Console", "Courier New", monospace;

    overflow: hidden;
}

#introBlock {

    position: absolute;

    left: 80px;

    bottom: 20px;

    width: 450px;
}

#introBlock h1 {

    font-size: 47px;
    margin-left: -20px;
    margin-bottom: 8px;
}

.introText {

    color: #7245a6;
    font-size: 13px;

    line-height: 1.6;

    margin-bottom: 50px;

    max-width: 450px;
}

.headlineText {
    
    font-size: 13px;

    line-height: 1.6;
margin-bottom: 25px;
    max-width: 450px;
}


.diveText {

    font-size: 12px;

    line-height: 1.6;

    margin-bottom: 25px;

    max-width: 450px;
}

.credits {
    
    font-size: 11px;
    line-height: 1.3;
    opacity: .7;
    margin-top: 60px;
}

/* MAIN WRAPPER */

#timelineWrapper {

    position: relative;

    width: 100vw;
    height: 100vh;

    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
      -webkit-overflow-scrolling:touch;
    touch-action:pan-x;
}

#timelineWrapper::-webkit-scrollbar {
    display: none;
}

  


/* SCROLL AREA */

#timelineContainer {

    position: relative;

    width: max-content;

    min-height: 100vh;
}

/* MAIN TIMELINE */

#timeline {

    position: relative;

    display: flex;

    align-items: center;

    gap: 300px;

    left: 600px;

    padding-left: 50vw;
    padding-right: 50vw;

    width: max-content;

    height: 100vh;
}

/* MAIN LINE */

#timeline::before {

    content: "";

    position: absolute;

    left: 0;
    right: 0;

    top: 50%;

    transform: translateY(-50%);

    height: 2px;

    background: #7245a6;
}

/* EVENT */

#sideEvents {

    position: absolute;


    inset: 0;

    pointer-events: none;
}

#sideEvents .event {

    position: absolute;

    pointer-events: auto;
}

.event {

    position: relative;

    width: 340px;

    flex-shrink: 0;

    height: 500px;
}

.eventTop {

    position: absolute;

    left: 0;

    bottom: 50%;

    margin-bottom: 15px;

    width: 320px;
}

.eventBottom {

    position: absolute;

    left: 0;

    top: 50%;

    margin-top: 15px;

    width: 240px;
}


.event.up img {
    opacity: .25;
}

.event.up .year,
.event.up h2 {
    opacity: .55;
}

.event.up p {
    opacity: .40;
}

.event.down img {
    opacity: .25;
}

.event.down .year,
.event.down h2 {
    opacity: .55;
}

.event.down p {
    opacity: .40;
}

/* EVENT DOT */

.event::after {

    content: "";

    position: absolute;

    left: 20px;

    top: 50%;

    transform: translateY(-50%);

    width: 12px;
    height: 12px;

    border-radius: 50%;

    background: #7245a6;
}





/* TITLE */
.eventTop h2 {

    font-size: 18px;

    font-weight: 300;

    text-transform: none;

    margin-left: -28px;

    letter-spacing: 0.2px;

}

/* TEXT */



.bottomHeadline {

    font-size: 14px;
    font-weight: 500;

    margin-bottom: 8px;
    margin-left: -14px;
    line-height: 1.2;

    color: #7245a6;
}

.bottomText {

    font-size: 10px;
    line-height: 1.2;
    margin-left: -14px;

    color: #5d4d75;
}

/* IMAGE */

.eventTop img {

    width: 200px;
    height: 200px;

    object-fit: contain;
    object-position: left bottom;

    display: block;

    margin-bottom: 5px;
    margin-left: -30px;


}

/* CONNECTIONS */

#connections {

    position: absolute;

    top: 0;
    left: 600px;

    pointer-events: none;

    z-index: 1;
}

#connections path {

    stroke: #7245a6;

    stroke-width: 1.5;

    fill: none;

    opacity: .20;
}

/* MINI TIMELINE */

#miniTimeline {

    position: absolute;

    left: 600px;

    bottom: 50px;

    display: flex;

    align-items: center;

    gap: 300px;

    padding-left: 50vw;
    padding-right: 50vw;

    width: max-content;
}

/* MINI LINE */

#miniTimeline::before {

    content: "";

    position: absolute;


    left: -600px;
    right: 0;

    top: 50%;

    height: 1px;

    background: #7245a6;

    opacity: .35;
}

/* MINI DATES */

.miniDate {

    position: relative;

    width: 340px;

    flex-shrink: 0;

    font-size: 14px;

    color: #7245a6;

    transform: translateY(-12px);
}

.miniDate::after {

    content: "";

    position: absolute;

    left: 20px;

    top: 16.5px;

    transform: translateX(-50%);

    width: 6px;
    height: 6px;

    border-radius: 50%;

    background: #7245a6;
}

/* ENTER BUTTON */

#enterAtlas {

    position: fixed;

    right: 40px;
    bottom: 18px;

    color: #7245a6;

    text-decoration: none;

    font-size: 18px;

    border-bottom: 1px solid #7245a6;

    padding-bottom: 3px;

    z-index: 100;
}

#enterAtlas:hover {

    opacity: .7;
}

@media (max-width:690px){

    body{
        background:red !important;
    }

}

